{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^react",
    "^next/",
    "<THIRD_PARTY_MODULES>",
    "^@entities/(.*)$",
    "^@features/(.*)$",
    "^@widgets/(.*)$",
    "^@shared/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
