.container {
  display: flex;

  .company {
    flex-basis: 24rem;
    flex-shrink: 0;
  }

  .subTitle {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .list {
    &:not(:last-of-type) {
      margin-bottom: 7rem;
    }
  }
}
